<!doctype html>
<html>

<head>
    <title>File Upload</title>
</head>

<body>
    <h1>Generate</h1>
    <form method="POST" action="/generate" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <p><input type="text" name="location"></p>
        <p><input type="submit" value="Upload"></p>
    </form>
    <h1>Verify</h1>
    <form method="POST" action="/verify" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="Upload"></p>
    </form>
</body>

</html>